RewriteEngine on
Options -Indexes
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
#RewriteRule ^(.*)$ https://rapidsharely.com/$1 [L,R=301]
RewriteRule ^$ index.html [NC,L]
RewriteRule ^hire-home-tutor([/]?)$ hire-home-tutor.html [NC,L]
RewriteRule ^register-as-home-tutor([/]?)$ register-as-home-tutor.html [NC,L]